In [1]:
#Importing Libraries 
import pandas as pd
import numpy as np
import os

In [2]:
# setting path
path = r'/Users/pierremora/Desktop/08:20:2023 INSTACART BASKET ANALYSIS'

In [3]:
# importing dataframe
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'products.csv'),index_col = False)

In [4]:
#checking dataframe info
df_prods.shape

(49693, 5)

In [5]:
# importing dataframe
df_orders= pd.read_csv(os.path.join(path, 'Data', 'Prepared data', 'orders_wrangled.csv'), index_col = False)

In [6]:
#checking dataframe info
df_orders.shape

(3421083, 8)

In [5]:
#creating a dataframe for exercise
df_test = pd.DataFrame()

In [6]:
df_test['mix']= ['a','b',1,True]

In [7]:
df_test

    mix
0     a
1     b
2     1
3  True

In [8]:
# checking for mixed types columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [9]:
# Fixing mixed types in columns
df_test['mix'] = df_test['mix'].astype('str')

In [10]:
df_test

    mix
0     a
1     b
2     1
3  True

In [11]:
# FINDING MISSING VALUES IN PRODUCTS DATAFRAME
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [7]:
# CREATING A NEW DATAFRAME WITH ONLY THE MISSING VALUES
df_miss = df_prods[df_prods['product_name'].isnull()== True]

In [44]:
df_miss.head()

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, prices]
Index: []

In [8]:
# FILTERING OUT MISSING VALUES IN A NEW DATAFRAME
df_prods_clean = df_prods[df_prods['product_name'].isnull()== False]

Replacing 'false' insted of 'true' so we will obtain only the values that are not missing

In [9]:
# Command to drop only the NaNs from a particular column
df_prods.dropna(subset = ['product_name'], inplace = True)

In [10]:
#The following command will look for full duplicates within your dataframe
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [11]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [12]:
#new dataframe that doesnâ€™t include the duplicates you just identified using the drop_duplicates() function:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [26]:
df_prods.shape

(49677, 5)

In [13]:
df_prods_clean_no_dups.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_clean.csv'))

# TASK 4.5 Orders Dataframe

In [14]:
# Changing a variable data type ('user_id', 'order_id') in orders dataframe
df_orders['user_id']= df_orders ['user_id'].astype('str')
df_orders ['order_id'] = df_orders ['order_id'].astype('str')

In [15]:
df_orders.head()

,Unnamed: 0,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [16]:
# Dropping column "unnamed"
df_orders = df_orders.drop(['Unnamed: 0'], axis = 1)

In [17]:
df_orders.describe()

,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [18]:
# checking for mixed types columns
for col in df_orders.columns.tolist():
  weird = (df_orders[[col]].applymap(type) != df_orders[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_orders[weird]) > 0:
    print (col)

No mixed Data types found

In [19]:
# checking for missing values in the dataframe.
df_orders.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
number_of_orders               0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

Customers always have a first purchase, that means they didn't order before, for this situation, there is no days_since_prior_order

In [20]:
# Address the missing values using an appropriate method.
#Create a new variable that acts like a flag based on the missing value. 
#If client ordered before, then 'old_customer' and if it was the first time purchasing a product then 'new_customer'

In [21]:
# Running a check for duplicate values in your df_ords data (full duplicates)
df_orders_dups = df_orders[df_orders.duplicated()]

In [22]:
#checking fully duplicates
df_orders_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, number_of_orders, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

There is no fully duplicates

In [23]:
df_orders['days_since_prior_order'].fillna('0', inplace=True)

In [53]:
df_orders.head()

,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,0
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [24]:
df_orders.shape

(3421083, 7)

In [55]:
df_orders.to_csv(os.path.join(path, 'Data','Prepared Data', 'orders_clean.csv'))